<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="entriesManagement.css">
    <link rel="stylesheet" href="./css/sidebar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>

<body>
    <!-- Sidebar -->
    <div id="sidebar-container"></div>


    <div class="page-wrapper">
        <div class="d1">
            <div class="left-group">

                <h1 class="title">傳票管理</h1>
            </div>
            <div class="d2">
                <button class="btn1">匯入傳票</button>
                <button class="btn1">新增傳票</button>
            </div>
        </div>
        <div class="d3">
            <fieldset class="query-box">
                <legend class="query-title">查詢條件</legend>
                <div class="ds">
                    <div class="field">
                        <label for="dateRange" class="l1">日期區間：</label>
                        <input type="text" id="dateRange" placeholder="請選擇日期區間">
                    </div>
                    <div class="field">
                        <label for="summonsId" class="l1">傳票編號：</label>
                        <input type="text" id="summonsId" placeholder="請輸入編號">

                    </div>
                    
                    <div class="field">
                        <label for="summary" class="l1">摘要備註：</label>
                        <input type="text" id="summary" placeholder="請輸入摘要">

                    </div>
                    <div class="field">
                        <label for="suject" class="l1">科目名稱：</label>
                        <div class="select-wrapper">
                            <select id="suject" name="category">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="fieldbtngroup">
            <button class="btn2">查詢</button>
            <button class="btn2">清空</button>
        </div>
        <div class="table-container">
            <div class="tableFixHead">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>傳票編號</th>
                            <th>金額</th>
                            <th>日期</th>
                            <th>傳票類型</th>
                            <th>建立類型</th>
                            <th>摘要</th>
                            <th>備註</th>
                            <th>動作</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/zh.js"></script>
    <script src="entriesManagement.js"></script>
    <script src="js/sidebar.js"></script>
</body>

</html>