<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Journal Entry</title>
    <link rel="stylesheet" href="./css/fixedAssets.css" />
    <link rel="stylesheet" href="./css/sidebar.css">
</head>

<body>
    <!-- Sidebar -->
    <div id="sidebar-container"></div>
    <!-- 主要內容區域 -->
    <div class="page-wrapper">
        <div class="main-content">
            <h1>新增固定資產</h1><br>
            <a href="./assets.html" class="header-link">回到資產管理</a>

            <div class="entry-form-container">
                <form id="journal-entry-form">
                    <div class="form-group date-wrapper">
                        <label for="entry-date">入帳日期：</label>
                        <input type="date" id="entry-date" name="entryDate" required>
                    </div><br>


                    <div class="row-above-buttons">
                        <div class="form-group">
                            <label for="startDate">固定資產類型：</label>
                            <select id="prepaid-type" name="prepaidType" class="form-control">
                                <option value="">請選擇</option>
                                <option value="land">土地</option>
                                <option value="buildings">房屋及建物</option>
                                <option value="itEquipments">資訊設備</option>
                                <option value="officeitEquipments">辦公設備</option>
                                <option value="transportationEquipments">運輸設備</option>
                                <option value="miscellaneousEquipments">什項設備</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="usefulLife">固定資產名稱：</label>
                            <input type="text" id="startDate" name="startDate" class="form-control">
                        </div>
                    </div>

                    <div class="row-above-buttons">
                        <div class="form-group">
                            <label for="startDate">對應貸方科目：</label>
                            <select id="prepaid-type" name="prepaidType" class="form-control">
                                <option value="">請選擇</option>
                                <option value="cash">現金</option>
                                <option value="bankDeposit">銀行存款</option>
                                <option value="accountsPayable">應付費用</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="usefulLife">每期攤提科目：</label>
                            <select id="prepaid-type" name="prepaidType" class="form-control">
                                <option value="">請選擇</option>
                                <option value="ACCbuildings">累積折舊-房屋及建物</option>
                                <option value="ACCitEquipments">累積折舊-資訊設備</option>
                                <option value="ACCofficeitEquipments">累積折舊-辦公設備</option>
                                <option value="ACCtransportationEquipments">累積折舊-運輸設備</option>
                                <option value="ACCmiscellaneousEquipments">累積折舊-什項設備</option>
                            </select>
                        </div>
                    </div>

                    <div class="row-above-buttons">
                        <div class="form-group">
                            <label for="startDate">金額：</label>
                            <input type="number" id="startDate" name="startDate" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="usefulLife">預估剩餘殘值：</label>
                            <input type="number" id="startDate" name="startDate" class="form-control">
                        </div>
                    </div>
                    <div class="row-above-buttons">
                        <div class="form-group">
                            <label for="startDate">摘要：</label>
                            <input type="text" id="startDate" name="startDate" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="useful-life-years">使用年限：</label>
                            <div style="display: flex; gap: 10px;">
                                <input type="number" id="useful-life-years" name="usefulLifeYears" min="0"
                                    placeholder="年">
                                <input type="number" id="useful-life-months" name="usefulLifeMonths" min="0" max="11"
                                    placeholder="月">
                            </div>
                        </div>
                    </div>



                    <button type="submit">送出分錄</button>
                </form>
            </div>
        </div>
    </div>
    <script src="js/sidebar.js"></script>
    <script src="js/fixedAssets.js"></script>

</body>

</html>