<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="management.css">
    <link rel="stylesheet" href="./css/sidebar.css">


</head>

<body>
    <!-- Sidebar -->
    <div id="sidebar-container"></div>

    <div class="page-wrapper">
        <div class="suject">
            <h1 class="title">會計科目</h1>
            <div class="menu">
                <a href="entriesManagement.html" class="btn">傳票管理</a>
                <a href="subjectManagement.html" class="btn">科目管理</a>
            </div>
        </div>
    </div>
    <script src="js/sidebar.js"></script>
    <script src="management.js"></script>
</body>

</html>