<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="management.css">

</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a class="active" href="#index">首頁</a>
        <a href="#accountbooks">收支帳簿</a>
        <a href="#assets">資金管理</a>
        <a href="#assets">資產管理</a>
        <a href="#incomeStatement">我的報表</a>
        <a href="#subsidiaryLedger">會計科目</a>
        <a href="#about">扣繳申報</a>
        <a href="#about">設定</a>
    </div>

    <h1 class="title">會計科目</h1>
    <div class="menu">
        <a href="entriesManagement.html" class="btn">傳票管理</a>
        <a href="subjectManagement.html" class="btn">科目管理</a>
    </div>
</body>

</html>