<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Journal Entry</title>
    <link rel="stylesheet" href="./css/prepayment.css" />
    <link rel="stylesheet" href="./css/sidebar.css">
</head>

<body>
    <!-- Sidebar -->
    <div id="sidebar-container"></div>

    <!-- 主要內容區域 -->
    <div class="page-wrapper">

        <div class="main-content">
            <h1>新增預付費用</h1><br>
            <a href="./assets.html" class="header-link">回到資產管理</a>

            <div class="entry-form-container">
                <form id="journal-entry-form">
                    <div class="form-group date-wrapper">
                        <label for="entry-date">入帳日期：</label>
                        <input type="date" id="entry-date" name="entryDate" required>
                    </div><br>

                    <div class="row-above-buttons">
                        <div class="form-group">
                            <label for="startDate">預付費用類型：</label>
                            <select id="prepaid-type" name="prepaidType" class="form-control">
                                <option value="">請選擇</option>
                                <option value="prepaidRent">預付租金</option>
                                <option value="prepaidInsurance">預付保險費</option>
                                <option value="prepaidSoftwareRights">預付軟體使用費</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="usefulLife">預付費用名稱：</label>
                            <input type="text" id="input1" name="input1" class="form-control">
                        </div>
                    </div>

                    <div class="row-above-buttons">
                        <div class="form-group">
                            <label for="startDate">對應貸方科目：</label>
                            <select id="prepaid-type" name="prepaidType" class="form-control">
                                <option value="">請選擇</option>
                                <option value="cash">現金</option>
                                <option value="bankDeposit">銀行存款</option>
                                <option value="accountsPayable">應付費用</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="usefulLife">每期攤提科目：</label>
                            <select id="prepaid-type" name="prepaidType" class="form-control">
                                <option value="">請選擇</option>
                                <option value="rentExpenseHouse">租金支出-房子</option>
                                <option value="rentExpenseOthers">租金支出-其他</option>
                                <option value="InsuranceExpense">保險費</option>
                                <option value="softwareRightsExpense">軟體使用費</option>
                            </select>
                        </div>
                    </div>

                    <div class="row-above-buttons">
                        <div class="form-group">
                            <label for="startDate">金額：</label>
                            <input type="number" id="input2" name="input2" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="useful-life-years">使用年限：</label>
                            <div style="display: flex; gap: 10px;">
                                <select id="useful-life-years" name="usefulLifeYears" class="form-control">
                                    <option value="">請選擇</option>
                                    <option value="0">1個月</option>
                                    <option value="1">2個月</option>
                                    <option value="2">3個月</option>
                                    <option value="3">4個月</option>
                                    <option value="4">5個月</option>
                                    <option value="5">6個月</option>
                                    <option value="6">7個月</option>
                                    <option value="7">8個月</option>
                                    <option value="8">9個月</option>
                                    <option value="9">10個月</option>
                                    <option value="10">11個月</option>
                                    <option value="10">12個月</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row-above-buttons">
                        <div class="form-group">
                            <label for="startDate">摘要：</label>
                            <input type="text" id="input4" name="input4" class="form-control">
                        </div>


                    </div>

                    <button type="submit">送出分錄</button>
                </form>
            </div>
        </div>
    </div>
    <script src="js/sidebar.js"></script>
    <script src="js/prepayment.js"></script>

</body>

</html>