<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/sidebar.css">
    <link rel="stylesheet" href="./css/reports.css">


</head>
<body>
    <!-- Sidebar -->
     <div id="sidebar-container"></div>
    <div class="page-wrapper">
        <div class="suject">
            <h1 class="title1">我的傳票</h1>
            <h2 class="title2">會計報表</h2>
            <div class="menu">
                <a href="balanceSheet.html" class="btn">資產負債表</a>
                <a href="incomeStatement.html" class="btn">綜合損益表</a>
                <a href="subsidiaryLedger.html" class="btn">明細分類帳</a>
                <a href="" class="btn">試算表</a>
            </div>
        </div>
    </div>
    <script src="js/sidebar.js"></script>
</body>
</html>