body {
     margin: 0;
     font-family: "Lato", sans-serif;
     background-color: #f5f7fa;
}

.title {
     white-space: nowrap;
     margin: 0;
     font-size: 40px;
     font-weight: bold;
}


@media (max-width: 768px) {
     .title {
          font-size: 40px;
          margin-left: 15px;
          margin-top: 8px;
          flex: 1;
     }
     .menu{
          margin-left: 15px;
     }
     
}


.menu {
     width: auto;
     display: flex;
     flex-direction: column;
     gap: 20px;
     list-style: none;
     padding-left: 0;
}

.btn {
     background-color: #f0f0f0;
     padding: 6px 12px;
     margin: 4px 0;
     display: flex;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
     text-decoration: none;
}


.hidden {
     display: none;
}

.note-area {
     margin-top: 5px;
     padding: 5px;
}

.note-input {
     padding: 4px;
     font-size: 14px;
     margin-right: 8px;
}

.clickable-text {
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
}