body {
     margin: 0;
     font-family: "Lato", sans-serif;
     background-color: #f5f7fa;
}

.title {
     margin-left: 200px;
     padding: 16px;
     font-size: 40px;
     font-weight: bold;
}


/* sidebar (簡化版) */
.sidebar {
     margin: 0;
     padding: 0;
     width: 200px;
     background-color: #f1f1f1;
     position: fixed;
     height: 100%;
     overflow: auto;
}

.sidebar a {
     display: block;
     color: black;
     padding: 16px;
     text-decoration: none;
}

.sidebar a.active {
     background-color: #04AA6D;
     color: white;
}

.sidebar a:hover:not(.active) {
     background-color: #555;
     color: white;
}

.menu {
     width: auto;
     margin-left: 250px;
     display: flex;
     flex-direction: column;
     gap: 20px;
     list-style: none;
     padding-left: 20px;
}

.btn {
     background-color: #f0f0f0;
     padding: 6px 12px;
     margin: 4px 0;
     display: flex;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
     text-decoration: none;
}


.hidden {
      display: none;
}

.note-area {
    margin-top: 5px;
    padding: 5px;
}

.note-input {
    padding: 4px;
    font-size: 14px;
    margin-right: 8px;
}

.clickable-text {
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
}