.main {
    /* margin-left: 225px; */ /* 於sidebar.css控制 */
    padding-left: 10px;
    text-indent: 1.5;
}
button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
}